*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}

header{
    background-color: white;
    padding: 10px 20px;
}

#logo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
}

#bianco{
    background-color: white;
    margin: 30px 20%;
    border-radius: 5px;
}

#menu{
    padding: 10px 40px;
    border-bottom: 2px solid whitesmoke;
}

#add{
    color: white;
    background: cornflowerblue;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

#add1{
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
}

#lista{
    padding: 0 40px 30px;
}

section{
    padding-top: 20px;
}

.titoletto{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.faccende{
    line-height: 30px;
    margin-left: 3px;
}

.check:before{
    content: "\2714";
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 10px;
}

.x:before{
    content: "\2716";
    padding: 1px 3px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    font-size: 10px; 
}

.categoria{
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}

.tag-type-1{
    background: cornflowerblue;
}

.tag-type-2{
    background-color: mediumpurple;
}

.tag-type-3{
    background-color: mediumaquamarine;
}

.tag-type-4{
    background-color: goldenrod;
}

.tag-type-5{
    background-color: palevioletred;
}

.tag-type-6{
    background-color: yellowgreen;
}